<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-8bits"></ngx-spinner>
<div class="row">
  <div class="col-md-6 card d-block border-0 py-2">
    <div class="collapse show py-2">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center text-muted">Reset Password</h3>
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a class="btn btn-lg" href="" title="Twitter">
                <i class="fa fa-2x fa-twitter"></i>
              </a>&nbsp; </li>
            <li class="list-inline-item">
              <a class="btn btn-lg" href="" title="">
                <i class="fa fa-2x fa-google-plus"></i>
              </a>&nbsp; </li>
            <li class="list-inline-item">
              <a class="btn btn-lg" href="" title="Facebook">
                <i class="fa fa-2x fa-facebook"></i>
              </a>
            </li>
          </ul>
          <form name="resetPasswordForm" #resetPasswordForm="ngForm" (ngSubmit)="onSubmit(Email.value, Password.value)">
            <div class="form-group row">
              <label for="Email" class="sr-only control-label">Email</label>
              <div class="offset-sm-2 col-sm-8">
                <input type="email" email class="form-control" name="Email" #Email="ngModel" [(ngModel)]="user.Email" placeholder="Email"
                  required [pattern]="emailPattern">
                <div *ngIf="Email.invalid && (Email.dirty || Email.isSubmitted)" class="validation-error">
                  Email is required.
                </div>
                <div class="validation-error" *ngIf="Email.invalid && Email.dirty && Email.errors?.email">Invalid email.</div>
              </div>
            </div>
            <div class="form-group row" [class.has-error]="Password.touched && Password.invalid">
              <label for="Password" class="sr-only control-label">Password</label>
              <div class="offset-sm-2 col-sm-8">
                <input (input)="ConfirmPassword.control.updateValueAndValidity()" type="password" minlength="3" name="Password" #Password="ngModel"
                  [(ngModel)]="user.Password" class="form-control" placeholder="Password" required>
                <div class="validation-error" *ngIf="Password.invalid && Password.touched  && Password.errors?.minlength">
                  Password must contain at least 3 characters!
                </div>
                <div class="validation-error" *ngIf="Password.dirty && Password.errors?.required">
                  Password is required!
                </div>
              </div>
            </div>
            <div class="form-group row" [class.has-error]="ConfirmPassword.dirty && ConfirmPassword.invalid">
              <label for="ConfirmPassword" class="sr-only control-label">Confirm Password</label>
              <div class="offset-sm-2 col-sm-8">
                <input appConfirmEqualValidator="Password" type="password" name="ConfirmPassword" #ConfirmPassword="ngModel" [(ngModel)]="user.ConfirmPassword"
                  class="form-control" placeholder="Confirm Password" required>
                <div class="validation-error" *ngIf="ConfirmPassword.dirty && ConfirmPassword.touched  && ConfirmPassword.errors?.required">
                  Confirm Password is required!
                </div>
                <div class="validation-error" *ngIf="ConfirmPassword.touched && ConfirmPassword.errors?.notEqual && !ConfirmPassword.errors?.required">
                  Password and Confirm Password do not match
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-sm-2 col-sm-8 pb-3 pt-2">
                <button [disabled]="!resetPasswordForm.valid" type="submit" class="btn btn-primary btn-lg btn-block">Reset Password</button>
              </div>
            </div>
            <div class="form-group row text-info" *ngIf='success'>
              <div class="offset-sm-2 col-sm-8 pb-3 pt-2">
                <h6>Password Reset Successful! Please check your email to continue.</h6>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>